/bin
*.o
*.a

cgats/cgats
cgats/pars
gamut/GenRMGam
gamut/GenVisGam
gamut/RefMediumGamut.gam
gamut/fakegam
gamut/maptest
gamut/smthtest
gamut/surftest
gamut/viewgam
icc/iccdump
icc/icclu
icc/iccrw
icc/icctest
icc/lutest
icc/mkDispProf
imdi/cctiff
imdi/ctest
imdi/greytiff
imdi/imdi_k.c
imdi/imdi_k.h
imdi/imdi_make
imdi/itest
jcnf/test
link/collink
link/monoplot
link/pathplot
namedc/namedc
namedc/txt2iccnc
numlib/LUtest
numlib/dnsqtest
numlib/qptest
numlib/soboltest
numlib/svdtest
numlib/tconjgrad
numlib/tdhsx
numlib/tpowell
numlib/tvarmet
numlib/zbrenttest
plot/plot
profile/applycal
profile/cb2ti3
profile/colprof
profile/colverify
profile/cxf2ti3
profile/iccvcgt
profile/invprofcheck
profile/kodak2ti3
profile/ls2ti3
profile/mppcheck
profile/mppprof
profile/printcal
profile/profcheck
profile/simpprof
profile/splitti3
profile/txt2ti3
ref/ACES_P3.icm
ref/ColorCheckerHalfPassport.cht
ref/ColorCheckerHalfPassport.cie
ref/ColorCheckerHalfPassport.ti2
ref/ColorCheckerPassport.ti2
ref/DisplayP3.icm
ref/RefMediumGamut.gam
ref/it8Wolf.cht
ref/linear.cal
ref/strange.cal
render/timage
rspl/c1
rspl/c1df
rspl/cw1
rspl/cw3
rspl/revbench
rspl/sm1
rspl/sm2
rspl/sm3
rspl/smtmpp
rspl/smtnd
rspl/t2d
rspl/t2ddf
rspl/t3d
rspl/t3ddf
rspl/tnd
rspl/trnd
scanin/scanin
spectro/average
spectro/ccxxmake
spectro/chartread
spectro/dispcal
spectro/dispread
spectro/dispwin
spectro/fakeread
spectro/illumread
spectro/linear.cal
spectro/oeminst
spectro/spec2cie
spectro/spotread
spectro/strange.cal
spectro/synthcal
spectro/synthread
spectro/xdg_bds
target/filmtarg
target/ifarp
target/ofps
target/printtarg
target/simdlat
target/simplat
target/targen
tweak/refine
xicc/bluelin
xicc/cam02test
xicc/ccttest
xicc/cgatsplot
xicc/cv
xicc/cvtest
xicc/extracticc
xicc/extractttag
xicc/fakeCMY
xicc/fbview
xicc/iccgamut
xicc/icheck
xicc/monctest
xicc/mpplu
xicc/revfix
xicc/specplot
xicc/specsubsamp
xicc/spectest
xicc/spectest2
xicc/tiffgamut
xicc/tiffgmts
xicc/tm3015
xicc/transplot
xicc/xcolorantslu
xicc/xfbview
xicc/xicclu
xml/testmxml
yajl/json_verify
yajl/yajl_test
